*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-height: 100%;
  max-width: 100%;
}

:root {
  --ff-primary: "Inter Tight", sans-serif;

  --fw-reg: 200;
  --fw-bold: 900;

  --clr-1: rgb(220, 224, 249, 0.5);
  --clr-2: #3c2bd5;
  --clr-3: rgb(220, 224, 209);
  --white: #ffffff;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: var(--fs-body);
  display: grid;
  place-content: center;
}

main {
  /* margin: 0 auto; */
  max-width: 850px;
  background-color: #ffffff;
}

p {
  font-weight: 300;
}

.strong {
  font-weight: var(--fw-bold);
  color: #000;
}

.strong:hover {
  color: var(--clr-2);
}

.head {
  display: flex;
  justify-content: space-between;
  margin: 0 1em;
  padding: 1em 1em;
  font-size: 1rem;
}

.section {
  margin: 0.5em 1em;
  padding: 1em 1em;
  display: grid;
  grid-template-columns: 4.5em 1fr;
  align-items: flex-start;
  border-radius: 0.6em;
  position: relative;
  padding-right: 3em;
}

.section:hover {
  /* background-color: var(--clr-3); */
  cursor: pointer;
}

.content {
  position: absolute;
  height: 60%;
  aspect-ratio: 1;
  background: url(images/image-chess.webp) center;
  border-radius: 0.5em;
  right: 4%;
  top: 20%;
}

.image {
  /* border: 1px solid black; */
  display: block;
  height: 44px;
  aspect-ratio: 1;
  margin-left: 0.8em;
}

img {
  height: 100%;
  width: 100%;
}

.club {
  color: var(--clr-2);
  font-weight: var(--fw-bold);
}
.sp:hover {
  color: var(--clr-2);
}
.sp {
  font-weight: 400;
  color: #000;
}

.article {
  display: block;
  margin-top: 1em;
  border: 1px solid gray;
  padding: 1em;
  width: calc(100% + 3em);
}

.article p {
  color: #000;
}

.attribution {
  font-size: 1.2rem;
  text-align: center;
  margin: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 800px) {
  body {
    padding: 5em;
    background-color: #f8ecec;
  }
  main {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 0.45em;
  }
  .attribution {
    font-size: 1.5rem;
  }
}

.head span {
  background-color: #3c2bd5;
  padding: 0.1em 0.4em;
  margin-left: 0.2em;
  border-radius: 4px;
  color: #ffffff;
}

.head p {
  color: #3c2bd5;
  font-weight: 500;
}

.head p:hover {
  cursor: pointer;
}

/* .section:nth-child(-n + 4) {
  background-color: var(--clr-1);
} */

.unread {
  background-color: var(--clr-1);
}

.unread .notification {
  display: inline-block;
  position: relative;
  bottom: 2px;
  left: 2px;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #ff0000;
}
